# Laravel specific
Back-End/vendor/
Back-End/node_modules/
Back-End/.env
Back-End/.env.backup
Back-End/storage/*.key
Back-End/storage/logs/
Back-End/storage/framework/
Back-End/bootstrap/cache/
Back-End/.phpunit.result.cache

# Next.js / Front-End specific
Front-End/node_modules/
Front-End/.next/
Front-End/out/
Front-End/build/
Front-End/coverage/
Front-End/.env*
Front-End/temp-next/
Front-End/*.log

# Development & OS specific
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log
